############################
# Maven
############################
target/
!.mvn/wrapper/maven-wrapper.jar

# Log
*.log

############################
# Eclipse / IDE
############################
.classpath
.project
.settings/
bin/
build.fxbuild

############################
# Java / OS
############################
*.class
*.jar
*.war
*.ear

############################
# JavaFX (scenebuilder temp)
############################
*~backup
*.bak
